#Android generated
bin
gen
lint.xml

#Eclipse
.settings
.checkstyle

#IntelliJ IDEA
*.ipr
*.iws
classes

#Maven
target
release.properties
pom.xml.*

website/_site

#Ant
local.properties
proguard.cfg

#Other
.DS_Store
tmp
