<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.uni.stuttgart.informatik.ToureNPlaner"
          android:installLocation="auto"
          android:versionCode="5"
          android:versionName="1.2">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <application android:label="@string/app_name" android:name=".ToureNPlanerApplication" android:icon="@drawable/icon"
        android:theme="@style/Theme.Sherlock">
        <activity android:name=".UI.Activities.AboutScreen"/>
        <activity android:name=".UI.Activities.AlgorithmScreen"/>
        <activity android:name=".UI.Activities.AlgorithmConstraintsScreen"
                  android:windowSoftInputMode="adjustPan|stateUnchanged"/>
        <activity android:name=".UI.Activities.BillingScreen" android:configChanges="orientation"/>
        <activity android:name=".UI.Activities.CertificateScreen"/>
        <activity android:name=".UI.Activities.InfoScreen"/>
        <activity android:name=".UI.Activities.EditNodeScreen"
                  android:windowSoftInputMode="adjustPan|stateUnchanged"/>
        <activity android:name=".UI.Activities.LoginScreen"/>
        <activity android:name=".UI.Activities.LoadRouteScreen"/>
        <activity android:name=".UI.Activities.MapScreenPreferences"/>
        <activity android:name=".UI.Activities.MapScreen.MapScreen" android:configChanges="orientation"/>
        <activity android:name=".UI.Activities.MainScreen" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
        <activity android:name=".UI.Activities.ServerScreen" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        -->
    </application>
</manifest>
